# Base locomotion engine
mjlab==1.2.0
tyro
torchrunx

# Skill tracking engine
hydra-core>=1.2.0
omegaconf
torch
numpy==1.24.4
mujoco==3.2.3
mujoco-python-viewer
rich
matplotlib
termcolor
wandb
plotly
tqdm
loguru
meshcat
pynput
scipy
tensorboard
onnx
onnxruntime
opencv-python
joblib
easydict
lxml
numpy-stl
open3d
toolz
typer
dm_control
loop_rate_limiters
mink
quadprog
einops
